<a href="https://colab.research.google.com/github/MariCSilva/PA_python/blob/main/li%C3%A7%C3%B5es/listastuplasedicionarios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**negrito**# **Exercícios**
##Exercício 1: Manipulação de Listas

- Defina uma lista com 5 nomes de cidades.
- Adicione uma nova cidade ao final da lista.
- Remova a segunda cidade da lista.
- Imprima a lista resultante.

In [ ]:
cidades = ["Mauá", "São Bernardo", "Ribeirão", "Santo André", "Recife"]
cidades

['Mauá', 'São Bernardo', 'Ribeirão', 'Santo André', 'Recife']

In [ ]:
cidades.append("Paranapiacaba")
cidades

['Mauá', 'São Bernardo', 'Ribeirão', 'Santo André', 'Recife', 'Paranapiacaba']

In [ ]:
del cidades[1]
cidades

['Mauá', 'Ribeirão', 'Santo André', 'Recife', 'Paranapiacaba']

##Exercício 2: Operações com Tuplas

- Defina uma tupla com 4 cores.
- Crie uma nova tupla que seja a concatenação da tupla original com outra contendo mais 2 cores.
- Imprima a nova tupla.

In [ ]:
cores = ("vermelho", "laranja", "amarelo", "verde")
cores

('vermelho', 'laranja', 'amarelo', 'verde')

In [ ]:
novas_cores = cores + ("azul", "roxo",)
print(novas_cores)

('vermelho', 'laranja', 'amarelo', 'verde', 'azul', 'roxo')

##Exercício 3: Dicionários Simples

Crie um dicionário para representar um aluno, contendo "nome", "idade" e "curso".
- Atualize a idade do aluno.
- Adicione uma nova chave "nota" com um valor.
- Imprima o dicionário atualizado

In [ ]:
estudante = {
    "nome" : "Jilberto",
    "idade" : "67",
    "curso" : "quimica"
}
estudante

{'nome': 'Jilberto', 'idade': '67', 'curso': 'quimica'}

In [ ]:
estudante["idade"]=70

In [ ]:
estudante['nota'] = 10
print(estudante)

{'nome': 'Jilberto', 'idade': 70, 'curso': 'quimica', 'nota': 10}

##Exercício 4: Listas e Dicionários

- Crie uma lista de dicionários, onde cada dicionário representa um produto com as chaves "nome" e "preço".
- Adicione um novo produto à lista.
- Atualize o preço do primeiro produto na lista.
- Imprima a lista resultante.

In [ ]:
produtos = [{"nome" : "maçã","preço" : 5.80,},{"nome" : "banana","preço" : 7.00,}]

print(produtos)

produtos.append({"nome" : "pera","preço" : 5.80,})

print(produtos)

produtos[0]["preço"]=5.90

print(produtos)

[{'nome': 'maçã', 'preço': 5.8}, {'nome': 'banana', 'preço': 7.0}]
[{'nome': 'maçã', 'preço': 5.8}, {'nome': 'banana', 'preço': 7.0}, {'nome': 'pera', 'preço': 5.8}]
[{'nome': 'maçã', 'preço': 5.9}, {'nome': 'banana', 'preço': 7.0}, {'nome': 'pera', 'preço': 5.8}]

##Exercício 5: Analisando uma Lista de Tuplas

- Crie uma lista de tuplas, onde cada tupla contém um par (nome, idade).
- Encontre e imprima o nome da pessoa mais velha.
- Encontre e imprima a idade média das pessoas.

In [ ]:
pessoas = [("Larissa",23),("Matheus",40),("Theo",30),]

maisvelho = 0
nomemaisvelho = ""

if pessoas[0][1] > maisvelho:
  maisvelho = pessoas[0][1]
  nomemaisvelho = pessoas[0][0]

if pessoas[1][1] > maisvelho:
  maisvelho = pessoas[1][1]
  nomemaisvelho = pessoas[1][0]

if pessoas[2][1] > maisvelho:
  maisvelho = pessoas[2][1]
  nomemaisvelho = pessoas[2][0]

print("o nome da pessoa mais velha é:", nomemaisvelho)

idademedia = (pessoas[0][1] + pessoas[1][1] + pessoas[2][1]) / len(pessoas)
print("a idade média das pessoas é:", idademedia)

o nome da pessoa mais velha é: Matheus
a idade média das pessoas é: 31.0